<div class="row">
  <div class="panel panel-default" ng-hide="isEmpty();">
    <div class="panel-heading">
      <h2 class="panel-title">Results</h2>
    </div>
    <div class="panel-body">
      <div class="row top15" ng-repeat="item in items">
        <div class="col-md-2">
          <strong>Menu Item:</strong> {{ item.name }}
        </div>
        <div class="col-md-2">
          <strong>Short Name:</strong> {{ item.short_name }}
        </div>
        <div class="col-md-6">
          <strong>Description:</strong> {{ item.description }}
        </div>
        <div class="col-md-2">
          <button class="btn btn-danger" ng-click="onRemove({index: $index});">Don't want this one</button>
        </div>
      </div>
    </div>
    </div>
    <div class="alert alert-danger" ng-if="noResult==true">
      Nothing found.
    </div>
</div>
