<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app='NarrowItDownApp'>
   <div class="container" ng-controller='NarrowItDownController as list'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search term" ng-model="list.searchTerm"></input>
      <button class="btn btn-primary narrow-button" ng-click="list.searchItems();">Narrow It Down For Me!</button>
    </div>

    <found-items items="list.items" no-result="list.noResult" on-remove="list.removeItem(index)" is-empty="list.isEmpty();"></found-items>
  </div>

</body>
</html>
